/* Your custom styles */
body {
  color: #111;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.section1 {
  background-image: url('../img/back9.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h3 {
  font-size: 70px;
}
h4 {
  font-size: 50px;
}
img {
  outline: 10px solid #333;
  outline-offset: 30px;
}
.section2 {
  background-image: url('../img/back10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section3 {
  background-image: url('../img/back11.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section4 {
  background-image: url('../img/back10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section5 {
  background-image: url('../img/back12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section6 {
  background-image: url('../img/back9.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section7 {
  background-image: url('../img/back13.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section8 {
  background-image: url('../img/back14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section9 {
  background-image: url('../img/back13.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #007bb5;
  color: white;
}
.navbar {
  border-bottom: none !important;
  outline: none;
  box-shadow: none;
}
.nav-item {
  padding: 5px;
}
.nav-link {
  color: #333 !important;
  font-weight: bold;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover {
  background: #333;
}
p a {
  color: #333;
}
@media only screen and (max-width: 768px){
   img {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
  }
}
