* {
  box-sizing: border-box;
}
body {
  margin: 0 !important;
  font-size: 17px;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow-x: hidden;
}
p {
  text-align: justify;
}
#header {
  margin-top: 70px;
  height: 100vh;
}
#header h1 {
  font-size: 50px;
  margin-bottom: 20px;
  padding: 20px;
}
.parallax-effect {
  background-image: url('../img/kid-hands.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}
.parallax-effect {
  position: relative;
}
.parallax-texto {
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 20%;
  padding: 20px;
}
#parallax {
  margin-top: 40px;
}
.navbar-brand {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.navbar-right a {
  color: #000;
}
.navbar {
  background-color: #fff;
  padding: 10px;
}
#resena {
  margin-top: 40px;
  padding: 20px;
}
#resena img {
  display: block;
  margin: auto;
}
#mision-vision {
  margin-top: 40px;
}
.mision-left {

  padding: 20px;
}
.vision-right {

  padding: 20px;
}
.misionyvision {
  margin: 0;
  padding: 0;
}
footer {
  background-color: #008CBA;
  color: #fff;
  font-size: 12px;
}
.footer-text {
  padding: 20px;
}
.copyright p {
  text-align: center;
}
.overlay-parallax {

}
.img-header-left {
  background-image: url('../img/abc.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
